h1,h2,h3,h4{
    color: rgb(9, 83, 221);
}

.main-header{
    color: rgb(9, 83, 221);
    
}
header{
    background-color: rgba(189, 195, 199);
    
}

aside{
    margin: 30px;
    border-top:solid 3px rgb(38, 80, 219);
    border-bottom:solid 3px rgb(38, 80, 219);
    background-color: rgb(189, 195, 199);
}

html{
    margin-left: 35%;
    margin-right: 35%;
}